.post
    display: flex
    flex-direction: column
    align-items: center
    border: 1px solid black
    padding: 16px
    width: 100%
    height: 100%
    background-color: var(--post-background-color)
    color: var(--post-text-color)
    box-shadow: 0px 10px 21px -6px var(--shadow-color)

.postTitle
    margin: 0px

.postProfilePic
    height: 25px
    width: 25px
    border-radius: 50%

.postImg
    height: 100%
    width: 100%
    object-fit: contain
   
.postProfileName
    padding-left: 8px
    color: var(--post-text-color)

.postBody
    width: 100%

.profile
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    height: 25px